p{
    background-color: #323230;
    padding: 1%;
    border: dashed #F0DA50 4px;
}
body{
    font-size: 115%;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin: auto;
    font-family: Century Gothic;
    background-image: url("https://img00.deviantart.net/0641/i/2017/127/b/7/javascript_wallpaper_by_mrhudson-db8gw2e.png");
}
input{
    padding: 15px;
    font-family: Century Gothic;
    color: #F0DA50;
    background-color: #323230;
    border: dashed #F0DA50 4px;
    font-size: 115%;
}
input:hover{
    color: #323230;
    background-color: #F0DA50;
    border-color: #323230;
}
input:active{
    font-weight: bold;
    border-radius: 5px;
    border: dashed 5px #323230;
}
textarea{
    font-family: Century Gothic;
    font-weight: bold;
    text-align: center;
    background-color: #323230;
    color: #F0DA50;
    border: dashed #F0DA50 4px;
    padding: 10px;
}
footer{
    background-color: #323230;
    border: dashed 4px #F0DA50;
    bottom: 0%;
    width: 98.5%;
    padding: 0.4%;
    overflow: auto;
    position: static;
}